BETTER_AUTH_SECRET=EEblhCzBFfIkng5xtEw3OQepWpaV8bD0
BETTER_AUTH_URL=http://localhost:3000
DATABASE_URL=postgresql://postgres.omedfxyhttizigezlmlb:adhyasta123@aws-1-ap-southeast-2.pooler.supabase.com:6543/postgres